body {
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  overflow: hidden;
  height: 100vh;
}

.header {
  padding: 10px;
  padding-left: 20px;
  background-color: #06b6d4;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 25px;
  padding-left: 16px;
  margin: 0;
  text-align: left;
}
.header img {
  height: 32px;
  width: auto;
  padding-left: 20px;
}

.map {
  width: 100vw;
  height: 100%;
  display: block;
  position: relative;
}
.map-container {
  position: absolute;
  height: 97%;
}

.location-icon {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
.loader-icon {
  font-size: 4rem;
  color: #06b6d4;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader p {
  color: gray;
  font-size: 1.2rem;
}

.location-info {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 300px;
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
  font-size: 18px;
  color: #06b6d4;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.location-info p {
  color: #2f2f30;
  margin: 10px 0 0 0;
}
.location-info h2 {
  color: #2f2f30;
  margin: 0 0 0 0;
}
.location-subtitle {
  color: #06b6d4;
  font-weight: 600;
}

.footer {
  padding: 10px;
  padding-left: 40px;
  background-color: #ecfeff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 90;
  display: flex;
  align-items: center;
}

.footer p,
a {
  font-size: 16px;
  color: #0e7490;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .location-info {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    min-height: 100px;
    padding: 10px;
    background-color: #fff;
    border-radius: 0px;
  }

  .footer {
    font-size: 12px;
    padding: 16px;
  }
  .header {
    padding-left: 16px;
  }
  .header img {
    padding-left: 0px;
  }

  .map {
    height: 100vh;
  }
}
